/*Mobile*/
@media only screen and (max-width: 991px){
    .pc-only{
        display: none;
    }
    .mobile-only{
        /*display: inherit;*/
    }
}
/*Desktop/Laptop*/
@media only screen and (min-width: 992px){
    .pc-only{
        /*display: inherit;*/
    }   
    .mobile-only{
        display: none;
    }
}



.color0{
    /*black*/
    background-color: #3E444C;
}
.color1{
    /*grey*/
    background-color: #72788D;
}
.color2{
    /*blue*/
    background-color: #7A89C2;
}
.color3{
    /*purple*/
    background-color: #AFA2FF;
}



.subtle-link{
    color: #556EED;
    text-decoration: none; 
}
.subtle-link:hover{
    color: #77B1EA;
}



.info-icon{
    background-image: url("../Images/Icons/Info_logo_small.png");
    background: url("../Images/Icons/Info_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cpp-icon{
    background-image: url("../Images/Icons/Cpp_logo_small.png");
    background: url("../Images/Icons/Cpp_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.cs-icon{
    background-image: url("../Images/Icons/Cs_logo_small.png");
    background: url("../Images/Icons/Cs_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.cpp-icon-big{
    background-image: url("../Images/Icons/Cpp_logo.png");
    background: url("../Images/Icons/Cpp_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.cs-icon-big{
    background-image: url("../Images/Icons/Cs_logo.png");
    background: url("../Images/Icons/Cs_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.unity-icon{
    background-image: url("../Images/Icons/Unity_logo_small.png");
    background: url("../Images/Icons/Unity_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.unity-icon-big{
    background-image: url("../Images/Icons/Unity_logo.png");
    background: url("../Images/Icons/Unity_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.python-icon{
    background-image: url("../Images/Icons/Python_logo.png");
    background: url("../Images/Icons/Python_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.python-icon-big{
    background-image: url("../Images/Icons/Python_logo.png");
    background: url("../Images/Icons/Python_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.processing-icon{
    background-image: url("../Images/Icons/Processing_logo.png");
    background: url("../Images/Icons/Processing_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.processing-icon-big{
    background-image: url("../Images/Icons/Processing_logo.png");
    background: url("../Images/Icons/Processing_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.lua-icon{
    background-image: url("../Images/Icons/Lua_logo.png");
    background: url("../Images/Icons/Lua_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.lua-icon-big{
    background-image: url("../Images/Icons/Lua_logo.png");
    background: url("../Images/Icons/Lua_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.pico8-icon{
        background-image: url("../Images/Icons/Pico8_logo.gif");
    background: url("../Images/Icons/Pico8_logo.gif");
    background-size: contain;
    background-repeat: no-repeat;
}
.hku-icon{
    background-image: url("../Images/Icons/HKU_logo_small.png");
    background: url("../Images/Icons/HKU_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
}



.polaroid_ul{
    margin-left: -50px;
}

.polaroid_li{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}


li .polaroid-sideways{
    display: block;    
    margin-top: 20px;
    margin-left: -20px;
}


.icon-list{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 300px;
    width: 0px;
    margin-right: -56px;
    list-style: none;
    padding: 0;
}

.icon-list li{
    position: relative;
    width: 0px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}



.polaroid-sideways{
    padding-top: 0px;
    background-color: white;
    height: 300px;
    width: 350px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.polaroid-sideways img{
    position: absolute;
    display: block;
    margin-top: 0px;
    margin-left: /*50px*/ 0px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    width: 300px;
    height: 300px;
    border: none;
    outline: none;
    padding: 0;
}


.polaroid-sideways .hover-field{
    position: absolute;
    display: block;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    width: 300px;
    height: 300px;
    border: none;
    outline: none;
    padding: 0;
}

.polaroid-sideways .creation-date{
    position: relative;
    float: left;
    width: 50px;
    height: 300px;
}
.polaroid-sideways .creation-date p{
    position: absolute;
    bottom: 0;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 3px;
    width:  47px;
    font-size: 12px;
}


/*
.polaroid-sideways .info-icon{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: -56px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.polaroid-sideways .cs-icon{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: -56px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}
.polaroid-sideways .cpp-icon{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: -56px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}
*/
.polaroid-sideways .polaroid-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: -56px;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0);
    border: 0;
}



.polaroid-sideways .text-overlay{
    position: absolute;
    margin-top: 0px;
    margin-left: /*50px*/ 0px;
    margin-bottom: 0px;
    width: 0px;
    height: 300px;
    background-color: white;
    border: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

/*
.polaroid-sideways:hover .text-overlay{
    width: 300px;
}
*/

.polaroid-sideways .hover-field:hover .text-overlay{
    width: 300px;
}

.polaroid-sideways .text-overlay .text{
    color: #3E444C;
    /*color: transparent;*/
    position: absolute;
    text-align: left;
    top: 50%;
    left: 150px;
    transform: translate(-50%, -50%);
    /*white-space: nowrap;*/
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 300px;
    max-height: 300px;
}
.polaroid-sideways .hover-field:hover .text-overlay .text{
    color: #3E444C;
}

.polaroid-sideways .text-overlay .text-container{
    position: absolute;
    width: 300px;
    height: 300px;
}



.page-preview-holder{
    position: fixed;
    right: 0px;
    width: 1050px;
    height: auto;
    top: 20px;
    bottom: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.page-preview{
    position: fixed;
    right: 100px;
    width: 900px;
    height: auto;
    top: 30px;
    bottom: 30px;
    border-radius: 5px;
}



.box-100px{
    width: 100px;
    height: 100px;
}



body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}



li{
    list-style: none;
}



.hidden{
    display: none;
}